@keyframes float1 {
    0% { transform: rotate(10deg) translateY(0); }
    50% { transform: rotate(10deg) translateY(-20px); }
    100% { transform: rotate(10deg) translateY(0); }
}

@keyframes float2 {
    0% { transform: rotate(-10deg) translateY(0); }
    50% { transform: rotate(-10deg) translateY(-20px); }
    100% { transform: rotate(-10deg) translateY(0); }
}
@keyframes move-left{
    to{
        transform: translateX(calc(-100% - 12px));
    }
}
@keyframes move-right{
    0%{
        transform: translateX(calc(-100%));
    }
    100%{
        transform: translateX(calc(0% + 12px));
    }

}
@-webkit-keyframes float1 {
    0% { transform: rotate(10deg) translateY(0); }
    50% { transform: rotate(10deg) translateY(-20px); }
    100% { transform: rotate(10deg) translateY(0); }
}

@-webkit-keyframes float2 {
    0% { transform: rotate(-10deg) translateY(0); }
    50% { transform: rotate(-10deg) translateY(-20px); }
    100% { transform: rotate(-10deg) translateY(0); }
}
@-webkit-keyframes move-left{
    to{
        transform: translateX(calc(-100% - 12px));
    }
}
@-webkit-keyframes move-right{
    0%{
        transform: translateX(calc(-100%));
    }
    100%{
        transform: translateX(calc(0% - 12px));
    }

}

